body {
    background-color: rgb(198, 224, 224);
}

h1 {
    font-family: "Mouse Memoirs", sans-serif;
    font-weight: bolder;
}

.card-header {
    margin: auto;
    font-family: "Mouse Memoirs";
}

.card {
    margin-top: 30px;
    border: 3px solid black;
}

img.image-fluid {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: auto;
}
